body {
    background-color: #fffff1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

.menuP{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: space-around;
    text-align: center;
}

.activo {
    color: darkgray;
    font-weight: 600;
}

.activo:hover{
    color: gray;
}

.itemMenu {
    color: black;
}

.itemMenu:hover{
    color: gray;
}

a {
    text-decoration: none;
}

.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    column-gap: 20px;
    justify-content: space-around;
}

.bloque {
    background-color: lightgray;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloque:hover {
    background-color: darkkhaki;
}

input {
    margin-bottom: 10px;
}

.contenidoCentrado {
    margin-top: 50px;
    text-align: center;
}